<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="DemoPractices.RestAPIWithExcel"/>
      <class name="DemoPractices.MapApiWithSerialization"/>
      <class name="DemoPractices.OAuthTestWithPojo_Deserialization"/>
      <class name="DemoPractices.GetPayloadFromFile"/>
      <class name="DemoPractices.OAuthTest"/>
      <class name="DemoPractices.SpecBuilderTest"/>
      <class name="DemoPractices.ClientApiAutomationE2E"/>
      <class name="DemoPractices.ComplexJsonPractice"/>
      <class name="DemoPractices.HashMapInteg"/>
      <class name="DemoPractices.GraphqlTest"/>
      <class name="DemoPractices.MapAPIs"/>
      <class name="DemoPractices.BookAPI"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
